<% provide(:title, "favorite page")%>
<h1>お気に入り一覧</h1>
<div class="row">
  <div class="col-md-8">
    <div class="card-favorite">
      <% @favorites.each do |favorite| %>
        <%= image_tag favorite.picture.image.thumb.url,class:"favorite-img" %>  
        <div class="card-body">
          <h5 class="card-title">User name:  <%= favorite.user.name %></h5>
          <p class="card-text">Picture 内容<br><%= favorite.picture.content %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>