<div class="profile-wrap">
  <div class="row">
    <div class="col-md-10">
      <% provide(:title, @user.name) %>
      <h1>
        <% if @user.image? %>
          <%= image_tag @user.image.thumb50.url, class:"user-profile-icon" %>
        <% else %>
          <%= gravatar_for @user %>
        <% end %>
        <%= @user.name %>
      </h1>
    </div>
  </div>
</div>