<h1 class="mt-5">Welcome to Insta Clone</h1>
<p class="lead">下のボタンでサインアップをして下さい</p>
<div class="sign-up-botton">
  <%= link_to "Sign up", new_user_path, class: "btn btn-success btn-lg" %>
</div>
<h5>既にメンバーの方はこちらから<%= link_to "ログイン", new_session_path %> をして下さい</h5>
